body {
    background: #ffffff;
    color: #515C5D;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
}

h1 {font-size: 5vw;}
h2 {font-size: 4vh;}
h3 {font-size: 3vmin;}

p {font-size: 2.25vmin;}

.site-section {
    font-family: 'Montserrat', sans-serif;
    color: #515C5D;
    padding: 5em 0;
}
.section-header {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}