.welcome-section {
    text-align: center;
}
.circular-square {
    border-radius: 50%;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.separator {
    height:1px; 
    border-width:0; 
    color:#7d8d21;
    background-color:#7d8d21;
}